
pre[class*="language-"] > code[data-language] { overflow: auto !important; }
section { margin: 50px 0; }

p {
    margin: 0;
    padding: 0.8em 0;
    line-height: 1.4;
    font-weight: 300;
    text-align: center;
}

[data-action] {
    display: block;
    margin: 10px auto;
    font-size: 17px;
    min-width: 3em;
    text-align: center;
    background: transparent;
    border: 0;
}