@tailwind base;

@tailwind components;

.bgBoxShadow {
    box-shadow: inset 0px 0px 20px 30px rgba(0,0,0,0.1);
}

.bgimage {
    background-image: url(../../public/img/Banksy_4.jpg);
}

#sidebar {
    width: 400px;
    position: absolute;
    height: 100%;
    top: 0;
    left: -300px;
    transition: left 0.5s ease;
}

#sidebar.visible {
    left: 0px;
    transition: left 0.7s ease;
}

#sidebar-btn {
    cursor: pointer;
}

#sidebar-btn span {
}

#sidebar-btn span:nth-child(2) {
    width: 75%;
}

@tailwind utilities;
