@tailwind base;

@tailwind components;

#sidebar {
    width: 400px;
    position: absolute;
    height: 100%;
    top: 0;
    left: -300px;
    transition: left 0.7s ease;
}

#sidebar.visible {
    left: 0px;
    transition: left 0.7s ease;
}

#sidebar-btn {
    cursor: pointer;
}


@tailwind utilities;
